.no_deployments {
    background-image: url('../../assets/images/no_deployments1.jpeg');
    background-repeat: no-repeat;
    background-position: 0% 30%;
    background-size: 100%;
    min-height: 70vh;
    
}

.no_deployments h2 {
    background: linear-gradient(to right, transparent,rgb(156, 79, 2));
}